<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="students.css" />
    <title>Alusoft Training Portal</title>
  </head>
  <body>
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h1>Instructors List</h1>
        <a href="/instructors/create" class="btn btn-primary">Add Instructors</a>
      </div>
      <table class="table table-bordered table-striped table-sm">
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Gender</th>
          <th>Programme</th>
          <th>Salary</th>
          <th>Qualification</th>
          <th>Photo</th>
        </tr>

        <% for( const instructor of instructors ) { %>
        <tr>
          <td>
            <%= instructor.surname %> <%= instructor.first_name %> <%=
            instructor.other_name %>
          </td>
          <td><%= instructor.phone %></td>
          <td><%= instructor.gender %></td>
          <td><%= instructor.programme %></td>
          <td><%= instructor.salary %></td>
          <td><%= instructor.qualification %></td>
          <td><%= instructor.photo %></td>
        </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>
